<h1 style="color :brown">เลือกจำนวนหลักที่ต้องการ</h1>
<mat-tab-group class="setWebPage fontmain">
    <mat-tab>
        <ng-template mat-tab-label>
                <span class="fontmain" style="color :brown">เลขท้าย 2 ตัว</span>
        </ng-template>
        <app-lottory2last></app-lottory2last>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="fontmain" style="color :brown">เลขหน้า 3 ตัว</span>
        </ng-template>
       <app-lottory3font></app-lottory3font>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
                <span class="fontmain" style="color :brown">เลขท้าย 3 ตัว</span>
        </ng-template>
        <app-lottory3last></app-lottory3last>
    </mat-tab>