.content {
    display: flex;
    margin:  auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}
.content1 {
    margin-left: 35%;
}
.content2 {
    padding-left: 2%;
}
.content3 {
    padding-bottom: 50%;
}
.fontmain{
    font-family: 'Kanit', sans-serif;
}