<span class="content" style="color:rgb(14, 13, 13)">ผลสลากกินแบ่งรัฐบาลปัจจุบัน</span>
<div class="content1">
    <label class="fonttext">{{lottoryno1}}</label>
    <p style="color:rgb(14, 13, 13)">รางวัลที่ 1 </p>
</div>
<div class="content1">
    <label class="fonttext">{{lottory2last}}</label>
    <p style="color:rgb(14, 13, 13)">เลขท้าย 2 ตัว</p>
</div>

<div class="content2">
    <label class="fonttext3" style="color:brown">{{lottory3font1}}</label>
    <label class="fonttext2" style="color:brown">{{lottory3font2}}</label>
    <label class="fonttext1" style="color:brown">021</label>
    <label class="fonttext2" style="color:brown">{{lottory3last2}}</label>
    
</div>
<div class="content2">
    <label style="color:rgb(14, 13, 13)">เลขหน้า 3 ตัว</label>
    <label class="padding" style="color:rgb(14, 13, 13)">เลขท้าย 3 ตัว</label> 
</div>




