.content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    font-size: 200%;
  }
  .content1 {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
  }
  .content2 {
    margin-left: 25%;
    font-size: 110%;
  }
  .content3 {
    margin-right: 25%;
    font-size: 110%;
    padding-bottom: 2%;
  }
  .fonttext {
    font-size: 160%;
    color: #930A00;
  }
  .fonttext1 {
    font-size: 150%;
    padding-left: 45%;
  }
  .fonttext2 {
    font-size: 150%;
    padding-left: 2%;
  }
  .fonttext3 {
    font-size: 150%;
  }
  .padding {
    padding-left: 47%;
  }
  .color {
    background: lightblue;
  }
  .color1 {
    background: rgb(228, 173, 230);
  }
  .color2 {
    background: rgb(205, 230, 173);
  }