<mat-toolbar class="toolbar fontmain">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>การวิเคราะห์ข้อมูลสลากกินแบ่งรัฐบาล</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="background">
    <mat-sidenav #drawer mode="side" opened role="navigation" class="background1">
      <mat-nav-list>
        <a mat-list-item routerLink='/first' style="color:rgb(187, 184, 184);"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> หน้าแรก </a>
        <a mat-list-item routerLink='/second' style="color:rgb(187, 184, 184);"><mat-icon aria-hidden="false" aria-label="Example help icon">help</mat-icon> ตรวจสอบเลขที่ออกบ่อยที่สุด </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
