.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #A93F3F;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.text{
    padding-left: 5%;
}
.background {
    background-color: rgb(235, 234, 222);
}
.background1 {
    background-color: rgb(41, 41, 41);
}
.fontmain{
    font-family: 'Kanit', sans-serif;
}